{% extends 'base.html' %}

{% block content %}

    <div class="c__perfil">

        <div class="box__img">
          <img src="{{ pj.avatar }}" alt="" /> 
        </div>
        
        <div class="box__info">

            <div >
          
              <p class="titulo">{{pj.nombre}}</p>
  
              {% if pj.estado == 'Alive' %}
                  <span class="estado verde">
              {% endif %} 
              {% if pj.estado == 'Dead' %}
                  <span class="estado rojo">
              {% endif %}
              {% if pj.estado == 'unknown' %}
                  <span class="estado naranja">
              {% endif %}
              {{pj.estado}} -  {{pj.especie}}</span>
          
  
                <div>
                    <p class="subTitulo"> Last known location: </p>
                        
                        <p class="texto">{{pj.ultimaVez[0]}}</p>
                    <br>
                    <p class="subTitulo"> First seen in: </p>
                    <p class="texto">{{pj.primeraVez[0]}}</p>
                </div>
            </div>
              
          <div class="box__epi">
            <h1>Episodios:</h1>
            <br>
            <div class="box__e">
                {% for e in pj.episodios %}
                    <p>{{e}}</p>
                {% endfor %}
        
            </div>
            <a href="{{url_for('index.index')}}">REGRESAR</a>
        </div>

        
        </div>

        
      
    </div>
  
    



  
  

{% endblock %}
